<h1>Listado de pokémons</h1>
<section class="pokemon-list">
  @for (pokemon of pokemons; track pokemon.id) {
  <a class="pokemon-card">
    <img [src]="pokemon.imageUrl">
    <div class="id">{{pokemon.id | digitNumber: 3 }}</div>
    <div class="name">{{pokemon.name | titlecase}}</div>
    <div class="types">
      @for (type of pokemon.types; track $index) {
        <app-pokemon-type [type]="type"></app-pokemon-type>
        }
        
    </div>
  </a>
  }
  @empty {
  <div>Cargando...</div>
  }
</section>