<div>
  <img id="tituloImg" src="./titulo.png" alt="titulo">
</div>

<form class="filter" (ngSubmit)="search()">
  <!-- Si se usa el ngModel sin ReactiveForm hay que indicar
  [ngModelOptions]="{standalone: true}" -->
  <input id="barra" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" />
  <input id="buscar" type="submit" value="Buscar" />
</form>

<section class="pokemon-list">
  @if (allPokemons.length > 0) {
  @for (pokemon of filteredPokemons; track pokemon.id) {
  <a class="pokemon-card" [routerLink]="'pokemon/' + pokemon.id">
    <img [src]="pokemon.imageUrl">
    <div class="id">{{pokemon.id | digitNumber: 3}}</div>
    <div class="name">{{pokemon.name | titlecase}}</div>
    <div class="types">
      @for (type of pokemon.types; track $index) {
      <app-pokemon-type [type]="type"></app-pokemon-type>
      }
    </div>
  </a>
  }
  @empty {
  <div>No hay resultados</div>
  }
  }
  @else {
  <div>Cargando...</div>
  }
</section>