h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  gap: 50px;
}

img {
  width: 300px;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.types {
  display: flex;
  gap: 10px;
}

button {
  margin: 20px;
  border-radius: 20px;
  color: black;
}

#buttonBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
}